<h1>Stupid Coaching</h1>
<div class ="display-question">
  <p><%= @user_answer %><p>
  <p><em>- You</em><p>
</div>
<br>
<div class ="display-answer">
  <p><%= @coach_answer %><p>
  <p><em>- Your Coach</em><p>
</div>
<br>
<%= link_to "Ask a new question", ask_path %>
